<form [formGroup]="form">
  <div>
    <mat-form-field>
      <mat-label>Customers reactive form</mat-label>
      <cdm-mat-select-search required [ngClass]="" [customStyle]="{width: '100%'}" [dataSource]="customers"
        [filterColumns]="['first_name', 'last_name']" selectedValue="id" [selectedText]="displayText"
        formControlName="customer"
        (onFilter)="filter($event)"></cdm-mat-select-search>
    </mat-form-field>

  </div>


  <div>
    <mat-form-field>
      <mat-label>Customers ng model</mat-label>
      <cdm-mat-select-search required [ngClass]="" [customStyle]="{width: '100%'}" [dataSource]="customers"
        [filterColumns]="['first_name', 'last_name']" selectedValue="id" [selectedText]="displayText"
        [(ngModel)]="customer" [ngModelOptions]="{standalone: true}"
        (onFilter)="filter($event)"></cdm-mat-select-search>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field>
      <mat-label>Customers reactive form multicolumns</mat-label>
      <cdm-mat-select-multi-columns required
      [dataSource]="customers" [headers]="['First Name', 'Last Name', 'Email']"
      [displayColumns]="['first_name', 'last_name', 'email']" [customStyle]="{width: '100%'}"
      selectedValue="id" [selectedText]="displayText" formControlName="customer_multi"
      (onFilter)="filter($event)"></cdm-mat-select-multi-columns>
    </mat-form-field>

  </div>


  <div>
    <mat-form-field>
      <mat-label>Customers ng model multicolumns</mat-label>
      <cdm-mat-select-multi-columns required
      [dataSource]="customers" [headers]="['First Name', 'Last Name', 'Email']"
      [displayColumns]="['first_name', 'last_name', 'email']" [customStyle]="{width: '100%'}"
      selectedValue="id" [selectedText]="displayText"
      [(ngModel)]="customerMulti" [ngModelOptions]="{standalone: true}"
      (onFilter)="filter($event)"></cdm-mat-select-multi-columns>
    </mat-form-field>
  </div>


  <div>Customers reactive form value: {{form.controls.customer.value}}</div>
  <div>Customers ng model value: {{customer}}</div>


  <div>Customers reactive form value multicolumn: {{form.controls.customer_multi.value}}</div>
  <div>Customers ng model value multicolumn: {{customerMulti}}</div>

  <!-- <button>test</button> -->

</form>
<router-outlet></router-outlet>
